<div class="bg-gray-800">
  <div class="container mx-auto h-full my-20 bg-gray-800 py-20">
    <h1 class="text-4xl font-bold mb-4 text-white text-center my-5">Our Process</h1>
    <div class="flex justify-center items-center flex-col md:flex-row gap-5 flex-wrap lg:flex-nowrap">
      <div class="flex justify-center items-center flex-col">
        <%= image_tag "about/market-research.svg", class: "object-contain h-48 w-96" %>
        <h1 class="text-white font-bold underline text-lg text-center">Market research</h1>
        <p class="w-80 md:w-[15vw] text-center text-white text-sm">
          Gather information about target market, customer needs, and competition.
        </p>
      </div>
      <div>
        <%= image_tag "about/arrow.png", class: "w-10 md:rotate-0 md:ml-2 md:mr-2 md:mt-0 md:mb-0 transform rotate-90" %>
      </div>
      <div class="flex justify-center items-center flex-col">
        <%= image_tag "about/create-plan.svg", class: "object-contain h-48 w-96" %>
        <h1 class="text-white font-bold underline text-lg text-center">Create plan</h1>
        <p class="w-80 md:w-[15vw] text-center text-white text-sm">
          Develop marketing goals, audience, messaging, and tactics.
        </p>
      </div>
      <div>
        <%= image_tag "about/arrow.png", class: "w-10 md:rotate-0 md:ml-2 md:mr-2 md:mt-0 md:mb-0 transform rotate-90" %>
      </div>
      <div class="flex justify-center items-center flex-col">
        <%= image_tag "about/start-promotion.svg", class: "object-contain h-48 w-96" %>
        <h1 class="text-white font-bold underline text-lg text-center">Implement promotions</h1>
        <p class="w-80 md:w-[15vw] text-center text-white text-sm">
          Execute various marketing activities to create awareness, interest and conversions.
        </p>
      </div>
      <div>
        <%= image_tag "about/arrow.png", class: "w-10 md:rotate-0 md:ml-2 md:mr-2 md:mt-0 md:mb-0 transform rotate-90" %>
      </div>
      <div class="flex justify-center items-center flex-col">
        <%= image_tag "about/manage-feedback.svg", class: "object-contain h-48 w-96" %>
        <h1 class="text-white font-bold underline text-lg text-center">Manage feedback</h1>
        <p class="w-80 md:w-[15vw] text-center text-white text-sm">
          Collect and analyze feedback to improve marketing efforts and better serve customers.
        </p>
      </div>
    </div>
  </div>
</div>