<div class="container mx-auto h-full my-20">
  <h1 class="text-4xl font-bold mb-4 text-white text-center my-5">
    <%= t("about.social_responsibility.title") %>
  </h1>
  <p class="text-xl text-white text-center md:text-left p-5">
    <%= t("about.social_responsibility.description_1") %>
  </p>
  <br>
  <p class="text-xl text-white hidden md:block p-5">
    <%= t("about.social_responsibility.description_2") %>
  </p>

  <div class="flex justify-center items-center gap-20 py-10 flex-col md:flex-row">
    <div class="flex justify-center items-center flex-col">
      <%= image_tag "about/resala-day.jpg", class: "h-80 w-96 rounded" %>
      <h3 class="text-white font-bold underline text-lg text-center">
        <%= t("about.social_responsibility.events.event_1.title") %>
      <h3>
      <p class="w-80 md:w-[15vw] text-center text-white text-sm">
        <%= t("about.social_responsibility.events.event_1.description") %>
      </p>
    </div>

    <div class="flex justify-center items-center flex-col">
      <%= image_tag "about/pyramids-day.jpg", class: "h-80 w-96 rounded" %>
      <h3 class="text-white font-bold underline text-lg text-center">
        <%= t("about.social_responsibility.events.event_2.title") %>
      <h3>
      <p class="w-80 md:w-[15vw] text-center text-white text-sm">
        <%= t("about.social_responsibility.events.event_2.description") %>
      </p>
    </div>

    <div class="flex justify-center items-center flex-col">
      <%= image_tag "about/school-day.jpg", class: " h-80 w-96 rounded" %>
      <h3 class="text-white font-bold underline text-lg text-center">
        <%= t("about.social_responsibility.events.event_3.title") %>
      <h3>
      <p class="w-80 md:w-[15vw] text-center text-white text-sm">
        <%= t("about.social_responsibility.events.event_3.description") %>
      </p>
    </div>
  </div>

</div>