  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="background-1"></div>
        <div class="choco h-full flex justify-center items-center flex-col p-10">
          <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl"><%= t("home.swiper.slide_1.title").html_safe %></h1>
          <p class="mb-6 text-lg font-normal text-white lg:text-xl sm:px-16 xl:px-48 w-10/12"><%= t("home.swiper.slide_1.description") %></p>
          <%= link_to t("home.swiper.slide_1.link").html_safe, about_path, class: "" %>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="background-2"></div>
        <div class="choco h-full flex justify-center items-center flex-col p-10">
          <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"><%= t("home.swiper.slide_2.title").html_safe %></h1>
          <p class="text-lg font-normal lg:text-xl text-white w-10/12"><%= t("home.swiper.slide_2.description") %></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="background-3"></div>
        <div class="choco h-full flex justify-center items-center flex-col p-10">
          <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><%= t("home.swiper.slide_3.title").html_safe %></h1>
          <p class="text-lg font-normal lg:text-xl text-white w-10/12"><%= t("home.swiper.slide_3.description") %></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="background-4"></div>
        <div class="choco h-full flex justify-center items-center flex-col p-10">
          <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"><%= t("home.swiper.slide_4.title").html_safe %></h1>
          <p class="text-lg font-normal text-white lg:text-xl w-10/12"><%= t("home.swiper.slide_3.description") %></p>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
