
<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
  <%= link_to root_path, class: "flex items-center" do %>
    <%= image_tag "logo.png", class: "h-20 mr-3 sm:h-30" %>
  <% end %>
  <div class="flex items-center md:order-2">
      <button type="button" data-dropdown-toggle="language-dropdown-menu" class="inline-flex items-center justify-center px-4 py-2 text-sm text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
        <svg class="w-5 h-5 mr-2 rounded-full" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 3900 3900"><path fill="#b22234" d="M0 0h7410v3900H0z"/><path d="M0 450h7410m0 600H0m0 600h7410m0 600H0m0 600h7410m0 600H0" stroke="#fff" stroke-width="300"/><path fill="#3c3b6e" d="M0 0h2964v2100H0z"/><g fill="#fff"><g id="d"><g id="c"><g id="e"><g id="b"><path id="a" d="M247 90l70.534 217.082-184.66-134.164h228.253L176.466 307.082z"/><use xlink:href="#a" y="420"/><use xlink:href="#a" y="840"/><use xlink:href="#a" y="1260"/></g><use xlink:href="#a" y="1680"/></g><use xlink:href="#b" x="247" y="210"/></g><use xlink:href="#c" x="494"/></g><use xlink:href="#d" x="988"/><use xlink:href="#c" x="1976"/><use xlink:href="#e" x="2470"/></g></svg>
        English (US)
      </button>
      <!-- Dropdown -->
      <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700" id="language-dropdown-menu">
        <ul class="py-2" role="none">
          <li>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
              <div class="inline-flex items-center">
                <%= image_tag "egypt-flag.png", class: "h-3.5 w-3.5 rounded-full mr-2" %>
                Arabic
              </div>
            </a>
          </li>
        </ul>
      </div>
      <button data-collapse-toggle="mobile-menu-language-select" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-language-select" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" fill="currentColor" aria-hidden="true" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="mobile-menu-language-select">
    <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li>
        <%= link_to t('navbar.home'), root_path, class: "block text-xl py-2 pl-3 pr-4 rounded md:p-0 text-gray-400 md:hover:text-[#DD5121] hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700" %>
      </li>
      <li>
        <%= link_to t('navbar.about'), about_path, class: "block text-xl py-2 pl-3 pr-4 rounded md:p-0 text-gray-400 md:hover:text-[#DD5121] hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700" %>
      </li>
      <li>
        <%= link_to t('navbar.products'), products_path, class: "block text-xl py-2 pl-3 pr-4 rounded md:p-0 text-gray-400 md:hover:text-[#DD5121] hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700" %>
      </li>
      <li>
        <%= link_to t('navbar.articles'), articles_path, class: "block text-xl py-2 pl-3 pr-4 rounded md:p-0 text-gray-400 md:hover:text-[#DD5121] hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700" %>
      </li>
      <li>
      <%= link_to t('navbar.contact'), contact_path, class: "block text-xl py-2 pl-3 pr-4 rounded md:p-0 text-gray-400 md:hover:text-[#DD5121] hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700" %>
      </li>
    </ul>
  </div>
  </div>
</nav>
