<div class="my-20">
  <div class="">
    <div class="container mx-auto flex justify-center flex-col">
      <div class="basis-1/2 flex flex-col justify-center items-center">
      <div class="w-80 h-80 object-contain">
        <%= image_tag @brand.logo, class: "w-full" %>
      </div>
        <h1 class="text-4xl font-bold mb-4 text-white text-center my-10"><%= @brand.name %></h1>
        <p class="text-lg leading-7 p-6 text-white text-center my-5 w-5/6">
          <%=
            I18n.locale == :ar ? @brand.description_ar : @brand.description
          %>
        </p>
      </div>
    </div>
  </div>

  <% @products.each_with_index do |product, index| %>
    <% odd = "container mx-auto flex justify-center items-center flex-col-reverse md:flex-row rtl: gap-5" %>
    <% even = "container mx-auto flex justify-center items-center flex-col-reverse md:flex-row-reverse gap-5" %>
      <div class="custom-border md:w-1/2 mx-auto md:px-20">
        <div class="<%= index.odd? ? odd : even %>" >
          <div class="flex w-1/2 flex-col justify-center items-center pb-8 md:items-start" >
            <h1 class="text-2xl font-bold text-white text-center my-1">
            <%=
              I18n.locale == :ar ? product.name_ar : product.name
            %>
            </h1>
            <p class="text-sm leading-7 text-white text-center md:text-left my-5">
              <%=
                I18n.locale == :ar ? product.description_ar : product.description
              %>
            </p>
            <%= link_to t('products.buy_now_html'), root_path, class: "text-white bg-[#DD5121] hover:bg-[#FF9119]/80 focus:ring-4 focus:outline-none focus:ring-[#FF9119]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#e0430f]/80 dark:focus:ring-[#FF9119]/40 mr-2 mb-2" %>
          </div>
          <div class="w-1/2 py-5 md:5">
            <%= image_tag product.thumbnail, class: "md:w-64 md:h-64 object-contain" %>
          </div>
        </div>
      </div>
  <% end %>
</div>