<div class="">
      <div class="container mx-auto flex justify-center flex-col">
        <div class="basis-1/2 flex flex-col justify-center items-center">
          <h1 class="text-4xl font-bold mb-4 text-white text-center my-5"><%= @brand.name %></h1>
          <p class="text-lg leading-7 p-6 text-white text-center my-5 w-5/6">
            <%= @brand.description %>
          </p>
        </div>
        <div class="">
          <%= image_tag @brand.logo, class: "w-full" %>
        </div>
      </div>
    </div>

<% @products.each_with_index do |product, index| %>
  <% odd = "container mx-auto flex justify-center flex-col-reverse md:flex-row" %>
  <% even = "container mx-auto flex justify-center flex-col-reverse md:flex-row-reverse" %>
    <div class="custom-border">
      <div class="<%= index.odd? ? odd : even %>" >
        <div class="basis-1/2 flex flex-col justify-center items-center pb-8 md:items-start" >
          <h1 class="text-4xl font-bold mb-4 text-white text-center my-5"><%= product.name %></h1>
          <p class="text-lg leading-7 text-white my-5 w-5/6">
            <%= product.description %>
          </p>
          <%= link_to '<span class="inline-flex items-center justify-center px-4 py-2 text-base font-small test-sm text-center text-white bg-[#DD5121] rounded-lg hover:hover:bg-[#e0430f] focus:ring-4">Buy now<svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>'.html_safe, root_path, class: "inline-flex items-center justify-center px-4 py-2 text-base font-small text-center text-white bg-[#DD5121] rounded-lg hover:hover:bg-[#e0430f] focus:ring-4" %>
        </div>
        <div class="">
          <%= image_tag product.thumbnail, class: "w-full h-full" %>
        </div>
      </div>
    </div>
<% end %>