<div class="container mx-auto md:w-2/3">
  <div class="flex justify-center items-center flex-col">
    <h1 class="text-5xl font-extrabold text-white text-center my-10">
      <%= t("products.title") %>
    </h1>
    <p class="text-lg font-medium my-2 text-white text-center">
      <%= t("products.description") %>
    </p>
    <div class="flex justify-center gap-10 flex-wrap my-20">
      <% @brands.each do |brand| %>
        <a href='brands/<%= brand.id %>' class="flex flex-col items-center md:w-[30%]">
          <div class="w-64 h-64 flex justify-center items-center">
            <%= image_tag brand.logo.url, class: "w-64 h-64 object-contain" %>
          </div>
          <h2 class="text-2xl font-bold text-white mt-4"><%= brand.name %></h2>
        </a>
      <% end %>
    </div>
  </div>
</div>
